<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
	Copyright (c) 2022 Nikifor Fedorov
	Licensed under the Apache License, Version 2.0 (the "License");
	you may not use this file except in compliance with the License.
	You may obtain a copy of the License at
		http://www.apache.org/licenses/LICENSE-2.0
	Unless required by applicable law or agreed to in writing, software
	distributed under the License is distributed on an "AS IS" BASIS,
	WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
	See the License for the specific language governing permissions and
	limitations under the License.
	SPDX-License-Identifier: Apache-2.0
	Contributors:
		Nikifor Fedorov - initial API and implementation
-->
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="ru.zelenyhleb.etape.ui.commands.category"
            name="%commands.category">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any">
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.pde.ui.templates">
      <template
            class="ru.zelenyhleb.etape.ui.templates.BaseBundleTemplate"
            contributingId="ru.zelenyhleb.etape.ui"
            icon="platform:/plugin/org.eclipse.pde.ui/icons/etool16/newpprj_wiz.png"
            id="ru.zelenyhleb.etape.ui.templates.base"
            name="%template.base.name">
      </template>
   </extension>
   <extension
         point="org.eclipse.pde.ui.pluginContent">
      <wizard
            class="ru.zelenyhleb.etape.ui.templates.BaseBundleWizard"
            icon="platform:/plugin/org.eclipse.pde.ui/icons/etool16/newpprj_wiz.png"
            id="ru.zelenyhleb.etape.ui.wizard.base"
            java="false"
            name="%template.base.name"
            pureOSGi="false"
            rcp="false"
            requiresActivator="false"
            ui-content="false">
         <description>
            %template.base.description
         </description>
      </wizard>
   </extension>
</plugin>
